.fcolor-l5 {color: #ececec !important; background-color: #f5f7f8 !important;}
.fcolor-l4 {color: #bd0202 !important; background-color: #dfe5e8 !important;}
.fcolor-l3 {color: #d11414 !important; background-color: #becbd2 !important;}
.fcolor-l2 {color: #d10202 !important; background-color: #9eb1bb !important;}
.fcolor-l1 {color: #ffffff !important; background-color: #7d97a5 !important;}
.fcolor-d1 {color: #be0a0a !important; background-color: #3f8dbb !important;}
.fcolor-d2 {color: #cf0000 !important; background-color: #9e0e0e !important;}
.fcolor-d3 {color: #ffffff !important; background-color: #b40707 !important;}
.fcolor-d4 {color: #bd0202 !important; background-color: #c70404 !important;}
.fcolor-d5 {color: #ffffff !important; background-color: #b80e0e !important;}
.fcolor-suave {color: #03af0c !important; background-color: #01d66c !important;}
.fcolor-oscuro {color: #fff !important; background-color: #018a2f !important;}
.fcolor-accion {color: #fff !important; background-color: #0ac031 !important;}
.ftema {color: #fff !important; background-color: #00b618 !important;}
.f-color-texto {color: #03a842 !important;}
.f-color-borde {border-color: #0ba83a !important;}
.f-color-hover:hover {color: #fff !important; background-color: #b41111 !important;}
.f-color-text-hover:hover {color: #0ca125 !important;}
.f-color-border-hover:hover {border-color: #0ea860 !important;}